:root {
    --bege-light: #F0EACF;
    --dark: #393636;
    --bege-dark: #7C7670;
    --light: #F9F9F9;
    --pistachio: #758554;
    --avocado: #D1DC92;
    --yellow: #FFE37D;
    --white: #ffffff;
    --grey: #393939;
}