@import "reset";
@import "fonts";
@import "root";

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    font-variant-numeric: lining-nums proportional-nums;
    height: 100%;
    color: var(--dark);
    overflow-x: hidden;
}
h1{
    font-family: "PlayfairDisplay", serif;
    font-weight: 800;
    font-size: 100px;
    line-height: 110%;
}
h2{
    font-family: "PlayfairDisplay", serif;
    font-weight: 800;
    font-size: 82px;
    line-height: 110%;
    color: var(--bege-dark);
}
h3{
    font-family: "PlayfairDisplay", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
}
h5{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
a{
    outline: none;
}
nav{
    color: var(--bege-light);
}
nav a {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--bege-light);
    transition: all 0.3s;
    outline: none;
    &.active{
        color: var(--avocado);
        cursor: default; 
    }
}
nav a:hover, nav a:focus, nav a:active {
    color: var(--avocado);
}
ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 35px;
	padding: 15px 0 5px 0;
	font-size: 18px;
}
ol li {
	position: relative;	
	margin: 0 0 17px 0;
	padding: 0 0 8px 20px;
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
    font-family: "PlayfairDisplay", serif;
    font-weight: 600;
    font-size: 32px;
	top: 0px;
	left: -26px;
	width: 17px;    
	color: var(--bege-dark);
	text-align: right;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1 1 auto;
}
img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
}
video{
    display: inline-block;
    width: 100%;
    object-fit: cover;
}
.container{
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
.lead{
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
}
.big-title{
    font-family: "PlayfairDisplay", serif;
    font-weight: 800;
    font-size: 100px;
    line-height: 110%;
    color: var(--bege-dark);
    text-align: center;
}
.t-20, b{
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

}
.caption{
    font-size: 14px;
    line-height: 140%;
}
.btn{
    display: inline-block;
    padding: 14px 36px;
    background-color: var(--yellow);
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.12em;
    border-radius: 50px;
    transition: all 0.3s;
}
.btn:hover{
    background-color: var(--pistachio);
}
.flex-a-center{
    display: flex;
    gap: 8px;
    align-items: center;
}
.center {
    display: block;
    width: max-content;
    margin: 0 auto;
}
.citate-author {
    font-family: "PlayfairDisplay", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    color: var(--bege-dark);
}
.min-title{
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--pistachio);
    line-height: 130%;
    letter-spacing: 0.2em;
}
.other-posts{
    background-color: var(--light);
    padding: 71px 0 143px;
    .blog__wrapper{
        margin: 69px 0;
    }
}
.date {
    font-size: 12px;
    font-weight: 700;
    line-height: 130%;
}
.date a{
    transition: all 0.3s;
}
.date a:hover{
    color: var(--bege-dark);
}
.citate{
    font-family: "PlayfairDisplay", serif;
    font-size: 32px;
    line-height: 130%;
}
// ============ POST NAVIGATION ================

.post-navigation{
    margin-bottom: 90px;
    .nav-links{
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 30px;
        height: 100%;
    }
    .nav-item {
        position: relative;
        width: 40%;
        padding: 30px;
        border: 1px solid var(--bege-light);
        border-radius: 4px;
        img{
            width: 21px;
            height: 33px;
        }
        span:nth-child(1){
            position: absolute;
        }
        span:nth-child(2){
            display: block;
            font-weight: 600;
            font-size: 10px;
            line-height: 130%;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: var(--pistachio);
            margin-bottom: 16px;
        }
        span:nth-child(3){
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: normal;
            text-transform: capitalize;
            color: var(--dark);
        }
    }
    .nav-previous{
        span:nth-child(1){
            top: 50%;
            transform: translateY(-50%);
            left: -18%;
        }

    }
    .nav-next {
        span:nth-child(1){
            top: 50%;
            transform: translateY(-50%);
            right: -18%;
        }
        span:nth-child(2){
            text-align: right;
        }
        span:nth-child(3){
            display: inline-block;
            text-align: right;
            margin-left: auto;
        }
    }
}

// =============================================
// ======= WP comments =================

.comments{
    margin-bottom: 48px;
    h3{
        color: var(--bege-dark);
        margin-bottom: 60px;
    }
    .comment{
        &:not(:last-child){
            border-bottom: 1px solid var(--bege-light);
        }
        &__wrapper{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__head{
            display: flex;
            align-items: center;
            gap: 8px;
            img{
                width: 16px;
                height: 16px;
            }
            span {
                text-transform: uppercase;
            }
        }

    }
}

// =====================================
// ======= WP comment-respond =================
.comment-reply-title{
    color: var(--bege-dark);
}

form {
    .comment-notes{
        color: var(--bege-dark);
        font-size: 16px;
    }
    label {
        display: block;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 10px;
        color: var(--bege-dark);
    }
    textarea {
        width: 100%;
        border: 1px solid var(--bege-light);
        border-radius: 4px;
        outline: none;
        resize: none;
    }
    input[type = "text"]{
        border: 1px solid var(--bege-light);
        border-radius: 4px;
        outline: none;
        height: 39px;
        max-width: 456px;
        width: 100%;
    }
    p{
        margin-bottom: 28px;
    }
}

// ============================================
//  Header =====================

.header{
    background-color: var(--pistachio);
    padding: 29.8px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
       ul{
        display: flex;
        li {
        display: block;
        margin-left: 42px;  

            ul.leng li {
                margin-left: 0;
            } 
        }
        li:first-child {
            margin-left: 0; 
        }
    }

    } 
}
.header-page{
    position: relative;
    width: 100%;
}
.header--fixed{
    position: fixed;
    animation: header 0.5s ease-out;
    z-index: 999;
}
//  Hero =================
.hero-home {
    position: relative;
    background-image: url(../img/home-hero-bg.png);
    min-height: 85vh;
    // padding-bottom: 146px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    h1{
        color: var(--avocado);
        max-width: 700px;
    }
    &__desc{
        max-width: 568px;
        margin-top: 33px;
        color: var(--bege-light);
    }
    .btn{
        margin-top: 43px;
        &:hover{
            background-color: var(--avocado);
        }
    }
}
.hero-home__img {
    position: absolute;
    top: auto;
    bottom: -34px;
    right: 0;
    width: 50vw;
    max-width: 724px;
    height: auto;
}
.hero-home__img img{
    width: 100%;
    object-fit: contain;
}
.about-home{
    padding: 72px 0 98px;
    &__wrapper{
        display: flex;
        gap: 128px;
    }
    &__info{
        max-width: 555px;
        .btn{
            margin-top: 30px;
        }
    }
    &__subtitle{
        margin-bottom: 30px;
    }
    h2{
        margin-bottom: 30px;
    }
    &__img{
        max-width: 338px;
        aspect-ratio: 1 / 1;
        border-radius: 200px;
        overflow: hidden;
        margin-left: 22px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
.new-home{
    background-color: var(--light);
    padding-top: 70px;
    padding-bottom: 88px;
    h2 {
        text-align: center;
        margin-bottom: 75px;
    }

    &__item{
        width: 23%;
        &--img{
            display: block;
            aspect-ratio: 1.26 / 1;
            margin-bottom: 28px;
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                scale: 100%;
                transition: all 0.5s ease-out;
                &:hover{
                    scale: 115%;
                }
            }
        }
        &.big{
            padding: 44px;
            width: 48.5%;
            background-color: var(--white);
            .new-home__item--title {
                font-family: "PlayfairDisplay", serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 110%;
                color: var(--bege-dark);
                transition: all 0.3s;
                &:hover{
                    color: var(--dark);
                }
            }
        }
        &--tags{
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 16px;
            font-size: 10px;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: var(--pistachio);
            a{
                color: var(--pistachio);
                transition: all 0.3s;   
            }
             a:hover{
                color: var(--avocado);
             }
        }
        &--title{
            transition: all 0.3s;
            &:hover{
                color: var(--bege-dark);
            }
        }
        &.item-biseness{
            text-align: center;
            .new-home__item--tags{
                justify-content: center;
            }
            .new-home__item--img{
                width: 107px;
                height: 107px;
                border-radius: 50%;
                margin: 0 auto 30px;
                img{
                    object-position: center;
                }
            }
        }
        &.item-blog{
            padding-bottom: 0;
            text-align: center;
            .new-home__item--tags{
                justify-content: center;
            }
            .new-home__item--img{
                width: 67%;
                aspect-ratio: 2 / 1;
                margin-top: 40px;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .btn{
        margin-top: 75px;
    }
}

// =========== ABOUT PAGE ==============

.about-me{
    margin-top: 88px;
    &__title{
        margin-bottom: 13px;
    }
    &__img{
        width: 134px;
        height: 134px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 79px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &__excerpt{
        font-family: "PlayfairDisplay", sans-serif;
        font-size: 32px;
        line-height: 110%;
        font-style: normal;
        font-weight: 700;
        color: var(--bege-dark);
        text-align: center;
        max-width: 794px;
        margin: 0 auto 48px;
    }
    &__content{
        margin-left: 18%;
        p{
            margin-right: 18%;
        }
        a {
            text-decoration: underline;
        }
    }
    &__accent{
        display: flex;
        align-items: center;
        gap: 10%;
        margin: 50px 0;
        &--img{
            max-width: 215px;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}
.about-diet{
    .container{
        position: relative;
    }
    &__dec{
        position: absolute;
        top: 54px;
        right: 220px;
    }
    margin-bottom: 183px;
    a{
        text-decoration: underline;
    }
    &__author{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10%;
        margin-top: 13px;
        margin-bottom: 48px;
        &--img{
            position: relative;
        }
        &--text{
            text-align: right;
            margin-top: 48px;
        }
        &--dec{
            position: absolute;
            bottom: -20px;
            left: -43px;
        }
    }
    &__content{
        margin: 0 18%;
    }
    &__cats{
        margin: 50px 20px;
        display: flex;
        gap: 9%;
        &--img{
            width: 215px;
            height: 215px;
            border-radius: 50%;
            overflow: hidden;
            flex: 0 0 auto;
            img{
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }

    }
}

// =============== BLOG PAGE ================

.blog {
    background-color: var(--light);
    padding-top: 71px;
    padding-bottom: 146px;
    h1{
        text-align: center;
        color: var(--bege-dark);
    }
    &__tags{
        width: 75%;
        margin: 32px auto 75px;
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            li{
                a {
                display: block;
                padding: 10px 15px;
                font-size: 10px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                background-color: var(--avocado);
                border-radius: 10px; 
                transition: all 0.3s;
                &:hover{
                    background-color: var(--pistachio);
                    color: var(--bege-light);
                }
                }
            }
        }
    }
    &__wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2%;
    }
    &__item{
        margin-bottom: 30px;
    }
}

// =====================================

// ========== POST PAGE ===============

.post{
    padding: 88px 0 0;
    margin-bottom: -24px;
    &__wrapper{
        max-width: 945px;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-family: "PlayfairDisplay", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 110%;
        color: var(--bege-dark);
        text-align: center;
        max-width: 794px;
        margin: 13px auto 30px;
    }
    &__publishe{
        justify-content: center;
        gap: 20px;
        font-weight: 400;
    }
    &__media{
        margin: 60px 0;
    }
    &__footer{
        width: 80%;
        margin: 90px auto 178px;
    }
    &__share{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        &--tags{
            width: max-content;
            margin: 0;
        }
        &--links{
            display: flex;
            align-items: center;
            gap: 22px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 100%;
            rect {
                fill: #7C7670;
                transition: all 0.3s;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
    &__post-recipe{
        width: 80%;
        margin: 0 auto;
        &--citate{
            text-align: right;
            max-width: 555px;
            color: var(--bege-dark);
            margin-left: auto;
            .citate{
                margin-bottom: 11px;
            }
        }
        &--content{
            margin-top: 30px;
            b {
                display: block;
                max-width: 536px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        &--slider{
            position: relative;
            margin: 30px 0;
        }
        &--slide-author{
            text-align: right;
            margin-top: 10px;
            color: var(--bege-dark);
        }
        &--navigation{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            top: 47%;
            transform: translateY(-50%);
        }
        &--prev{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            cursor: pointer;
            padding: 10px;
            background-color: var(--bege-light);
            border-radius: 4px;    
        }
        &--next{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            cursor: pointer;
            padding: 10px;
            background-color: var(--bege-light);
            border-radius: 4px;
        }
        &--compound{
            margin-top: 78px;
        }
        h3{
            color: var(--bege-dark);
        }
        h5{
            color: var(--pistachio);
            margin-bottom: 56px;
        }
        &--list{
            margin-top: 44px;
            padding: 30px;
            border: 1px solid var(--bege-light);
            border-radius: 4px;
            ul{
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    margin-bottom: 14px;
                    p {
                        margin: 0;
                    }
                    p:nth-child(3){
                        max-width: 267px;
                        text-align: right;
                    }
                    span{
                        background-image: url(../img/icons/line-dots.svg);
                        background-repeat: repeat-x;
                        flex-grow: 1;
                        margin-left: 5px;
                        margin-right: 5px;
                        height: 2px;
                    }
                }
            }
        }
        &--instruction{
            margin-top: 78px;
            img{
                margin-top: 10px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.post__share--links a:hover  rect {
    fill: var(--grey);
}
// =====================================
.footer{
    text-align: center;
    color: var(--bege-light);
    &__wrapper{
        padding: 48px 0 67px;
        background-color: var(--pistachio);
    }
    &__social{
        margin-bottom: 95px;
        &--title{
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        &--list{
            margin-top: 28px;
            ul{
                display: flex;
                justify-content: center;
                gap: 20px;
            }
        }
    }
    &__copy{
        a{
            display: block;
            margin-bottom: 13px;
        }
    }
}
.footer-top{
    display: block;
    width: 100%;
    object-fit: contain;
}


@keyframes header {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }