@import "reset";
@import "fonts";
@import "root";

body{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    height: 100%;
    color: var(--dark);
}
h1{
    font-family: "PlayfairDisplay", serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 110%;
}
h2{
    font-family: "PlayfairDisplay", serif;
    font-weight: 900;
    font-size: 82px;
    line-height: 110%;
    color: var(--bege-dark);
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1 1 auto;
}
.container{
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
nav{
    color: var(--bege-light);
}
nav a {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--bege-light);
    transition: all 0.3s;
    outline: none;
    &.active{
        color: var(--avocado);
        cursor: default; 
    }
}
nav a:hover, nav a:focus, nav a:active {
    color: var(--avocado);
}
.lead{
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
}
.t-20{
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

}

.btn{
    display: inline-block;
    padding: 14px 36px;
    background-color: var(--yellow);
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.12em;
    border-radius: 50px;
    transition: all 0.3s;
}
.btn:hover{
    background-color: var(--pistachio);
}
.center {
    display: block;
    width: max-content;
    margin: 0 auto;
}
//  Header =====================

.header{
    background-color: var(--pistachio);
    padding: 34px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
       ul{
        display: flex;
        li {
        display: block;
        margin-left: 42px;  

            ul.leng li {
                margin-left: 0;
            } 
        }
        li:first-child {
            margin-left: 0; 
        }
    }

    } 
}
//  Hero =================
.hero-home {
    position: relative;
    background-image: url(../img/home-hero-bg.png);
    min-height: 85vh;
    // padding-bottom: 146px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    h1{
        color: var(--avocado);
        max-width: 700px;
    }
    &__desc{
        max-width: 568px;
        margin-top: 33px;
        color: var(--bege-light);
    }
    .btn{
        margin-top: 43px;
        &:hover{
            background-color: var(--avocado);
        }
    }
}
.hero-home__img {
    position: absolute;
    top: auto;
    bottom: -34px;
    right: 0;
    width: 50vw;
    max-width: 724px;
    height: auto;
}
.hero-home__img img{
    width: 100%;
    object-fit: contain;
}
.about-home{
    padding: 72px 0 98px;
    &__wrapper{
        display: flex;
        gap: 128px;
    }
    &__info{
        max-width: 555px;
        .btn{
            margin-top: 30px;
        }
    }
    &__subtitle{
        margin-bottom: 30px;
    }
    h2{
        margin-bottom: 30px;
    }
    &__img{
        max-width: 338px;
        aspect-ratio: 1 / 1;
        border-radius: 200px;
        overflow: hidden;
        margin-left: 22px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
.new-home{
    background-color: var(--light);
    padding-top: 70px;
    padding-bottom: 88px;
    h2 {
        text-align: center;
        margin-bottom: 75px;
    }
    &__inner{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item{
        width: 23%;
        &--img{
            display: block;
            aspect-ratio: 1.26 / 1;
            margin-bottom: 28px;
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                scale: 100%;
                transition: all 0.5s ease-out;
                &:hover{
                    scale: 115%;
                }
            }
        }
        &.big{
            padding: 44px;
            width: 48.5%;
            background-color: var(--white);
            .new-home__item--title {
                font-family: "PlayfairDisplay", serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 110%;
                color: var(--bege-dark);
                transition: all 0.3s;
                &:hover{
                    color: var(--dark);
                }
            }
        }
        &--tags{
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 16px;
            font-size: 10px;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: var(--pistachio);
            a{
                color: var(--pistachio);
                transition: all 0.3s;   
            }
             a:hover{
                color: var(--avocado);
             }
        }
        &--title{
            transition: all 0.3s;
            &:hover{
                color: var(--bege-dark);
            }
        }
        &.item-biseness{
            text-align: center;
            .new-home__item--tags{
                justify-content: center;
            }
            .new-home__item--img{
                width: 107px;
                height: 107px;
                border-radius: 50%;
                margin: 0 auto 30px;
                img{
                    object-position: center;
                }
            }
        }
        &.item-blog{
            padding-bottom: 0;
            text-align: center;
            .new-home__item--tags{
                justify-content: center;
            }
            .new-home__item--img{
                width: 67%;
                aspect-ratio: 2 / 1;
                margin-top: 40px;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .btn{
        margin-top: 75px;
    }
}